# This is a sample .env file for use in local development.
# duplicate this file as .env in the root of the eligibility_model
# and update the environment variables values to match your desired config

# The data connectiom to pick config from 
DATA_CONN=

# Path to the JSON config file
CONFIG_FILE_PATH=


# Parallel run option to run the rules in parallel
PARALLEL=

# Pickle input option for run file
PICKLE_INPUT=

# Docker image registery path
IMAGE_REGISTRY_PATH=